.custom-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.title {
    //styleName: Title/16PX Medium;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.customCard {

    .img-container {

        button {
            left: 0;
            bottom: -41px;
            transition: all 0.2s ease-in-out;
        }
    }

    .icons {
        top: 10px;
        right: -50px;
        transition: all 0.2s ease-in-out;
    }

    img {
        transition: all 0.6s ease-in-out;
    }

    &:hover {
        button {
            bottom: 0 !important;
        }

        .icons {
            top: 10px !important;
            right: 13px;
        }

        img {
            transform:  scale(1.3);
        }
    }

}

.card-body {
    border-radius: 10px;
    padding: 7px 0 0 10px;
}

.icons i {
    // font-size: 30px;
    font-size: 25px;
    padding: 7px !important;

}

.icons a {
    margin-bottom: 10px;
}


.rounded-Circle {
    border-radius: 100%;
}

.price-color {
    //styleName: Title/16PX Medium;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.stars i {
    color: yellow;
}