<div class="container-fluid  me-0 pe-0 mt-5 overflow-hidden toMarginTopBottom">
    <div class="row mb-5 align-items-center">
        <div class="col-xl-6  ">
            <div class="cotentOur">
                <h2 class="ourStory mb-3 text-lg-center">Our Story</h2>

                <div class="ourContent text-lg-center m-lg-auto">
                    <p>Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active
                        presense in
                        Bangladesh. Supported by wide range of tailored marketing, data and service solutions, Exclusive
                        has
                        10,500 sallers and 300 brands and serves 3 millioons customers across the region. </p>
                    <p>Exclusive has more than 1 Million products to offer, growing at a very fast. Exclusive offers a
                        diverse
                        assotment in categories ranging from consumer.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-6 p-0 d-flex justify-content-center">
            <img class="rounded " src="../../assets/ABOUT.png" alt="">
        </div>
    </div>
</div>



<div class="container mt-5 mb-5 ">


    <!-- Responsive Dn -->
    <div class="row  justify-content-center toMarginTopBottom">

        <div class="  col-xl-3 col-lg-4 col-md-6 mb-md-2 mb-lg-2 mb-sm-3  ">
            <div class="salaryIcon rounded text-center">
                <div class="iconCol bg-secondary m-auto mb-3">
                    <div class="someIcon bg-black border-1 border-secondary  ">
                        <i class="ri-store-line text-white"></i>
                    </div>
                </div>
                <h4 class="salary">33K</h4>
                <p class="salaryCont mb-0">Mopnthly Produduct Sale</p>
            </div>
        </div>
        <div class="  col-xl-3 col-lg-4 col-md-6 mb-md-2 mb-lg-2 mb-sm-3  ">
            <div class="salaryIcon rounded text-center">
                <div class="iconCol bg-secondary m-auto mb-3">
                    <div class="someIcon bg-black border-1 border-secondary  ">
                        <i class="ri-store-line text-white"></i>
                    </div>
                </div>
                <h4 class="salary">33K</h4>
                <p class="salaryCont mb-0">Mopnthly Produduct Sale</p>
            </div>
        </div>
        <div class="  col-xl-3 col-lg-4 col-md-6 mb-md-2 mb-lg-2 mb-sm-3  ">
            <div class="salaryIcon rounded text-center">
                <div class="iconCol bg-secondary m-auto mb-3">
                    <div class="someIcon bg-black border-1 border-secondary  ">
                        <i class="ri-store-line text-white"></i>
                    </div>
                </div>
                <h4 class="salary">45.5K</h4>
                <p class="salaryCont mb-0">Customer active in our site</p>
            </div>
        </div>
        <div class="  col-xl-3 col-lg-4 col-md-6 mb-md-2 mb-lg-2 mb-sm-3  ">
            <div class="salaryIcon rounded text-center">
                <div class="iconCol bg-secondary m-auto mb-3">
                    <div class="someIcon bg-black border-1 border-secondary  ">
                        <i class="ri-store-line text-white"></i>
                    </div>
                </div>
                <h4 class="salary">25K</h4>
                <p class="salaryCont mb-0">Anual gross sale in our site</p>
            </div>
        </div>




    </div>




 <!-- Responsive Dn -->
    <div class="row mt-5 toMarginTopBottom">
        <div class="col-xl-4 col-md-6 d-flex justify-content-center">
            <div class="card border-0" style="width: 18rem;">
                <img src="../../assets/person1.png" class="card-img-top imagePerson" alt="...">
                <div class="card-body ps-0">
                    <h2 class="card-title">Tom Cruise</h2>
                    <h6 class="card-text">Founder & Chairman</h6>
                    <div class="icons d-flex gap-2">
                        <i class="ri-twitter-line"></i>
                        <i class="ri-instagram-line"></i>
                        <i class="ri-linkedin-line"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-4 col-md-6 d-flex justify-content-center">
            <div class="card border-0" style="width: 18rem;">
                <img src="../../assets/emma.png" class="card-img-top imagePerson" alt="...">
                <div class="card-body ps-0">
                    <h2 class="card-title">Emma Watson</h2>
                    <h6 class="card-text">Managing Director</h6>
                    <div class="icons d-flex gap-2">
                        <i class="ri-twitter-line"></i>
                        <i class="ri-instagram-line"></i>
                        <i class="ri-linkedin-line"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6  d-flex justify-content-center">
            <div class="card border-0" style="width: 18rem;">
                <img src="../../assets/Will smith.png" class="card-img-top imagePerson" alt="...">
                <div class="card-body ps-0">
                    <h2 class="card-title">Will Smith</h2>
                    <h6 class="card-text">Product Designer</h6>
                    <div class="icons d-flex gap-2">
                        <i class="ri-twitter-line"></i>
                        <i class="ri-instagram-line"></i>
                        <i class="ri-linkedin-line"></i>
                    </div>
                </div>
            </div>
        </div>


    </div>








</div>