<p class="fs-3 fw-medium text-danger">Edit Your Profile</p>

<form (ngSubmit)="updateData(form)" [formGroup]="form">
    <div class="row mb-4 flex-column">
        <div class="col">
            <div data-mdb-input-init class="form-outline mb-3 ">
                <label class="form-label poppinsFont fw-semibold" for="name">First name</label>
                <input formControlName="name" type="text" id="name" class="form-control border-0 rounded" />
                <div *ngIf="form.get('name')?.errors && form.get('name')?.touched" class="text-danger">
                    <p *ngIf="form.get('name')?.getError('minlength')" class='m-0'>Name Must be more than 3 letters</p>
                    <p *ngIf="form.get('name')?.getError('maxlength')" class="m-0 ">Name Must be 16 letters or less
                    </p>
                    <p *ngIf="form.get('name')?.getError('required')" class="m-0 ">Name Must be Required</p>
                </div>
            </div>
        </div>
        <div class="row d-flex">

            <div class="col">
                <div data-mdb-input-init class="form-outline  ">
                    <label class="form-label poppinsFont fw-semibold" for="email">Email</label>
                    <input formControlName="email" type="text" id="email" class="form-control border-0 rounded" />
                    <div *ngIf="form.get('email')?.errors && form.get('email')?.touched" class="text-danger">
                        <p *ngIf="form.get('email')?.getError('email')" class='m-0'>Email is In Valid</p>
                        <p *ngIf="form.get('email')?.getError('required')" class="m-0 ">Email is Required</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline  ">
                    <label class="form-label poppinsFont fw-semibold" for="phone">Phone</label>
                    <input formControlName="phone" type="text" id="phone" class="form-control border-0 rounded" />

                    <div *ngIf="form.get('phone')?.errors && form.get('phone')?.touched" class="text-danger">
                        <p *ngIf="form.get('phone')?.getError('pattern')" class='m-0'>Phone must be an Egyptian
                            number</p>
                        <p *ngIf="form.get('phone')?.getError('required')" class="m-0 ">Phone is Required</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end mt-3">
        <button title="save Change" type="submit" [disabled]="form.invalid" class="btn btn-danger rounded pt-3 pb-3 ps-5 pe-5">Save Changes</button>
    </div>
</form>