<div class="container">
    <div class="w-75 mx-auto py-4">
        <h4>Rgister Now</h4>
        <form [formGroup]="loginForm">

        </form>
    </div>
</div>


<div class="container">
    <div class="row align-items-center justify-content-center g-5">
        <div class="col-md-8">
            <img src="../../assets/signUp.jpg" alt="" class="">
        </div>
        <div class="col-md-4">
            <div *ngIf="apiError" class="alert alert-danger">{{apiError}}</div>
            <h2>Create an account</h2>
            <p class="fw-normal">Enter your detalis below</p>

            
            <p>
                mostafadopave.com
                A12345
            </p>
            <form (ngSubmit)="handelLogIn(loginForm)" [formGroup]="loginForm">


                <input formControlName="email" type="email " class="form-control no-border rounded-0 mb-3"
                    placeholder="Email">
                <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="loginForm.get('email')?.getError('email')" class='m-0'>Email inValid</p>
                    <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0 ">Email is Required</p>
                </div>

                <input formControlName="password" type="password" class="form-control no-border rounded-0 mb-3"
                    placeholder="Password">
                <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="loginForm.get('password')?.getError('pattern')" class='m-0'>Password Must Starts with
                        an uppercase letter Followed by 5 to 10 characters (Lowercase,Digits)</p>
                    <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0 ">password is Required</p>
                </div>
                <div class="m-auto">

                    <p>If you need to make an account <span class="fw-bold">
                            <a routerLink="/signup">SignUp </a>
                        </span></p>

                </div>


                <!-- <input formControlName="rePassword" type="password " class="form-control no-border rounded-0 mb-2" placeholder="rePassword"> -->
                <!-- <button class="btn bg-danger text-white">Create Account</button> -->
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-color text-white p-3 w-100 mb-2">
                    <i *ngIf="isLoadind" class="fas fa-spinner fa-spin spinner"></i>
                    <span *ngIf="!isLoadind"> login</span>
                </button>

                <!-- <div class="m-auto">
                    <p>Already have account? <span class="fw-bold">Log in</span></p>
                </div> -->
            </form>
        </div>
    </div>


</div>