<meta
  name="description"
  content="Mary's simple recipe for maple bacon donuts
           makes a sticky, sweet treat with just a hint
           of salt that you'll keep coming back for.">
<div *ngIf="cartData$ | async as myData">

    <div class="container  toMarginTopBottom">
        <div>
            <div class="row text-center  custom-shadow  p-3 mb-3">
                <div class="col-3 text-start">Product</div>
                <div class="col-3 ">Price</div>
                <div class="col-3 ">Quantity</div>
                <div class="col-3 ">Subtotal</div>
            </div>

            <div *ngFor="let product of myData.data.products" class="row text-center  custom-shadow p-3 mb-3">
                <div class="col-3 ">
                    <div class="img d-flex align-items-center gap-2">
                        <div class="imgContainer position-relative">
                            <img style="width: 54px;height: 54px;" [src]="product?.product?.imageCover" alt="product imge cover">
                            <i role="button" title="deleteProduct" (click)="removeItem(product.product.id)"
                                class="deleteProduct ri-close-line bg-danger d-flex align-items-center justify-content-center text-white position-absolute top-0 start-0"></i>
                        </div>
                        <div class="titleImg">{{product.product.title.slice(0,9)}}</div>
                    </div>
                </div>
                <div class="col-3 ">{{product.price|currency}}</div>
                <!-- Quntity -->
                <div class="col-3 d-flex justify-content-center">
                    <div class="productQua d-flex align-items-center rounded">
                        {{product.count}}
                        <div class="qunIcon d-flex flex-column">
                            <i role="button" title="up" (click)="upDateItemCount(product.product.id,product.count+1)"
                                class="ri-arrow-up-s-line"></i>
                            <i role="button" title="down" (click)="upDateItemCount(product.product.id,product.count-1)"
                                class="ri-arrow-down-s-line"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">{{product.price|currency}}</div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button title="returnShop" type="button" class="customBtn btn btn-outline-dark">Return To Shop</button>
            <button title="update" type="button" class="customBtn  btn btn-outline-dark rounded">Update Cart</button>
        </div>

        <div class="row toMarginTopBottom toCheck d-flex justify-content-between">
            <div class="col-12 col-md-6 coupon ">
                <div>
                    <input type="text" class="me-3 rounded p-3 border border-1 border-secondary"
                        placeholder="Coupon Code">
                    <button title="applyCoupon" class="btn btn-danger rounded pt-3 pb-3 ps-5 pe-5">Apply Coupon</button>
                </div>
            </div>

            <div class="col-12 col-md-6 d-flex justify-content-end">
                <div style="width: 470px;" class="card cartTotal border-1 border border-secondary">
                    <div class="card-body">
                        <p class="fs-5 mb-4">Cart Total</p>
                        <div
                            class="subtotal d-flex justify-content-between border-bottom border-secondary border-1 mb-2 mt-2">
                            <p class="fs-6">Subtotal</p>
                            <p class="fs-6">{{myData.data.totalCartPrice|currency}}</p>
                        </div>
                        <div
                            class="subtotal d-flex justify-content-between border-bottom border-secondary border-1 mb-2 mt-2">
                            <p class="fs-6">Shipping</p>
                            <p class="fs-6">Free</p>
                        </div>
                        <div
                            class="subtotal d-flex justify-content-between border-bottom border-secondary border-1 mb-2 mt-2">
                            <p class="fs-6">Subtotal</p>
                            <p class="fs-6">{{myData.data.totalCartPrice|currency}}</p>
                        </div>

                        <button title="processCheckout" routerLink="/checkout"
                            class="btn btn-danger rounded pt-3 pb-3 ps-5 pe-5 m-auto d-flex justify-content-center align-items-center mt-4">Procees
                            to checkout</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>