<!-- <div class="forgetPass">
    <h3 class="text-center">Forget Password</h3>
    <div class="container">
        <form (ngSubmit)="funForgetPass()" [formGroup]="form" class="w-75 mx-auto my-5">
            <label class="mb-2" for="email">Enter Your Email:</label>
            <input type="email" id="email" placeholder="Email..." class="form-control mb-2" formControlName="email" />

            <div *ngIf="form.get('email')?.errors && form.get('email')?.touched" class="text-danger">
                <p *ngIf="form.get('email')?.getError('email')" class="m-0">Email is Invalid</p>
                <p *ngIf="form.get('email')?.getError('required')" class="m-0">Email is Required</p>
            </div>

            <button [disabled]="form.invalid" type="submit" class="btn text-light">Send Code</button>
        </form>
    </div>
</div> -->



<form (submit)="funForgetPass()" [formGroup]="form">
    <input type="email" formControlName="email">
    <div *ngIf="form.get('email')?.errors && form.get('email')?.touched" class="text-danger">
        <p *ngIf="form.get('email')?.getError('email')" class="m-0">Email is Invalid</p>
        <p *ngIf="form.get('email')?.getError('required')" class="m-0">Email is Required</p>
    </div>
    <button title="sendCode" [disabled]="form.invalid" type="submit" class="btn text-light">Send Code</button>
</form>