<form (submit)="funForgetPass()" [formGroup]="form">
    <input type="email" formControlName="email">
    <div *ngIf="form.get('email')?.errors && form.get('email')?.touched" class="text-danger">
        <p *ngIf="form.get('email')?.getError('email')" class="m-0">Email is Invalid</p>
        <p *ngIf="form.get('email')?.getError('required')" class="m-0">Email is Required</p>
    </div>
    <button title="sendCode" [disabled]="form.invalid" type="submit" class="btn text-light">Send Code</button>
</form>