<footer class="bg-black text-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-sm-6 col-lg-3 col-md-4 flex-column text-start">
                <p class="fs-4 mb-4">Exclusive</p>
                <ul class="ps-0">
                    <li class="mb-3 subs"> Subscribe </li>
                    <li class="liText">Get 10% off your first order</li>
                </ul>
            </div>
            <div class="col-12 mb-4 col-sm-6 col-lg-2 col-md-4 flex-column text-start">
                <p class="fs-4 mb-4">Exclusive</p>
                <ul class="ps-0">
                    <li class="mb-3 liText"> Support </li>
                    <li class="mb-3 liText">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</li>
                    <li class="mb-3 liText">exclusivegmail.com</li>
                    <li class="mb-3 liText">+88015-88888-9999</li>
                </ul>
            </div>
            <div class="col-12 mb-4 col-sm-6 col-lg-2 col-md-4 flex-column text-start">
                <p class="fs-4 mb-4">Account</p>
                <ul class="ps-0">
                    <li class="mb-3 liText"> My Account </li>
                    <li class="mb-3 liText">Login / Register</li>
                    <li class="mb-3 liText">Cart</li>
                    <li class="mb-3 liText">Wishlist</li>
                    <li class="mb-3 liText">Shop</li>
                </ul>
            </div>
            <div class="col-12 mb-4 col-sm-6 col-lg-2 col-md-4 flex-column text-start">
                <p class="fs-4 mb-4">Quick Link</p>
                <ul class="ps-0">
                    <li class="mb-3 liText"> Privacy Policy </li>
                    <li class="mb-3 liText">Terms Of Use</li>
                    <li class="mb-3 liText">FAQ</li>
                    <li class="mb-3 liText">Contact</li>
                </ul>
            </div>
            <div class="col-12 mb-4 col-sm-6 col-lg-3 col-md-4 flex-column text-start">
                <p class="fs-4 mb-4">Download App</p>
                <ul class="ps-0">
                    <li class="mb-3 liText save"> Save $3 with App New User Only </li>
                    <li class="mb-3 liText">Get 10% off your first order</li>
                </ul>
                <div class="d-flex gap-3">
                    <img src="../../../../assets/Qrcode 1.png" alt="">
                    <div class="d-flex flex-column">
                        <img class="mb-2" src="../../../../assets/download-appstore.png" alt="">
                        <img src="../../../../assets/download-appstore.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>