<div class="container">
    <div class=" d-flex align-items-center justify-content-center">
        <form (ngSubmit)="handelOTP(otpForm)" [formGroup]="otpForm">
            <input formControlName="phone" type="tel " class="form-control no-border rounded-0 mb-3"
                placeholder="Phone">
            <div *ngIf="otpForm.get('phone')?.errors && otpForm.get('phone')?.touched"
                class="alert alert-danger">
                <p *ngIf="otpForm.get('phone')?.getError('pattern')" class='m-0'>Phone must be an Egyptian
                    number</p>
                <p *ngIf="otpForm.get('phone')?.getError('required')" class="m-0 ">phone is Required</p>
            </div>

            <button title="create account" [disabled]="otpForm.invalid" type="submit"
                class="btn btn-color text-white p-3 w-100 mb-2">
                <i *ngIf="isLoadind" class="fas fa-spinner fa-spin spinner"></i>
                <span *ngIf="!isLoadind"> Send code</span>
            </button>

        </form>
    </div>


    <div class=" d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> to verify your account</h6>
               
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> </div>
                <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div>
            </div>
        </div>
    </div>

</div>

<div class="container ms-0 toMarginTopBottom">
    <div class="row align-items-center justify-content-center g-5">
        <div class="col-md-8 ps-0">
            <img src="../../assets/signUp.jpg" alt="signUp">
        </div>
        <div class="col-md-4">
            <div *ngIf="apiError" class="alert alert-danger">{{apiError}}</div>
            <h2>Create an account</h2>
            <p class="fw-normal">Enter your detalis below</p>

            <form (ngSubmit)="handelSubmit(registerForm)" [formGroup]="registerForm">


                <input formControlName="name" type="text " class="form-control no-border rounded-0 mb-3"
                    placeholder="Name">
                <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('name')?.getError('minlength')" class='m-0'>Name minLength is 3 char</p>
                    <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="m-0 ">Name maxLength is 16 char
                    </p>
                    <p *ngIf="registerForm.get('name')?.getError('required')" class="m-0 ">Name is Required</p>
                </div>

                <input formControlName="email" type="email " class="form-control no-border rounded-0 mb-3"
                    placeholder="Email">
                <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('email')?.getError('email')" class='m-0'>Email inValid</p>
                    <p *ngIf="registerForm.get('email')?.getError('required')" class="m-0 ">Email is Required</p>
                </div>

                <input formControlName="password" type="password" class="form-control no-border rounded-0 mb-3"
                    placeholder="Password">
                <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('password')?.getError('pattern')" class='m-0'>Password Must Starts with
                        an uppercase letter Followed by 5 to 10 characters (Lowercase,Digits)</p>
                    <p *ngIf="registerForm.get('password')?.getError('required')" class="m-0 ">password is Required</p>
                </div>

                <input formControlName="rePassword" type="password" class="form-control no-border rounded-0 mb-3"
                    placeholder="rePassword">


                <input formControlName="phone" type="tel " class="form-control no-border rounded-0 mb-3"
                    placeholder="Phone">
                <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched"
                    class="alert alert-danger">
                    <p *ngIf="registerForm.get('phone')?.getError('pattern')" class='m-0'>Phone must be an Egyptian
                        number</p>
                    <p *ngIf="registerForm.get('phone')?.getError('required')" class="m-0 ">phone is Required</p>
                </div>


                <button title="create account" [disabled]="registerForm.invalid" type="submit"
                    class="btn btn-color text-white p-3 w-100 mb-2">
                    <i *ngIf="isLoadind" class="fas fa-spinner fa-spin spinner"></i>
                    <span *ngIf="!isLoadind"> Create Account</span>
                </button>

                <div class="m-auto">
                    <p>Already have account? <span class="fw-bold">
                            <a title="login" routerLink="/login">Log in</a>
                        </span></p>
                </div>
            </form>
        </div>
    </div>


</div>