<div class="container mt-4 toMarginTopBottom">
    <div class="row">
        <!-- Slider Images -->
        <div class="col-md-2" *ngIf="productDetalis && productDetalis.images.length">

            <swiper [direction]="'vertical'" [slidesPerView]="3" [autoHeight]="true" [spaceBetween]="20">

                <ng-template swiperSlide *ngFor="let img of productDetalis.images">
                    <img role="button" (click)="imagePath=img"
                        class=" w-100 h-100 object-fit-contain slider-images mb-1" [src]="img" alt="sliderimages">
                    <!-- <img (click)="imagePath = img" class="slider-images mb-1"  [src]="img"
                        alt="sliderimages"> -->
                </ng-template>
            </swiper>
        </div>

        <!-- Main Image -->
        <div class="col-md-5">
            <img class="custom-height-image " [src]="imagePath" alt="imageCover">

            <!-- <img id="bigImage" class="custom-height-image " [src]="imagePath ? imagePath : productDetalis?.imageCover" alt="imageCover"> -->
        </div>



        <!-- productDetalis -->
        <div class="col-md-5">
            <h3 class="fw-semibold">{{productDetalis?.title.slice(0,17)}}</h3>
            <div class="rev d-flex align-items-center gap-4">
                <p class="d-flex gap-1 mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                    </svg>
                </p>
                <span class="text-success">In Stock</span>
            </div>

            <h5 class="fw-normal mt-2 mb-3">${{productDetalis?.price}}</h5>
            <p class="fw-normal mb-3">{{productDetalis?.description|seemore:10}}</p>

            <hr class="mb-3">

            <div class="position-relative mb-3 ">
                <span>Colours: </span>
                <span class="color position-absolute"></span>
                <span class="colorTwo position-absolute"></span>
            </div>

            <div class="d-flex align-items-center gap-3 mb-4">
                <span>Size: </span>
                

                    <div class="d-flex justify-content-center">
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="size" id="sizeXS" value="XS">
                            <label class="poppinsFont form-check-label" for="sizeXS">XS</label>
                        </div>
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="size" id="sizeS" value="S">
                            <label class="poppinsFont form-check-label" for="sizeS">S</label>
                        </div>
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="size" id="sizeM" value="M" checked>
                            <label class="poppinsFont form-check-label" for="sizeM">M</label>
                        </div>
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="size" id="sizeL" value="L">
                            <label class="poppinsFont form-check-label" for="sizeL">L</label>
                        </div>
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="size" id="sizeXL" value="XL">
                            <label class="poppinsFont form-check-label" for="sizeXL">XL</label>
                        </div>
                    </div>


            </div>

            <div class="d-flex justify-content-around">
                <button title="buyNow" class="btn mainColor text-white">Buy Now</button>
                <div class="ico border border-1 rounded ">
                    <i class="ri-heart-line "></i>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-swiper></app-swiper> -->
</div>