.custom-height-image {
    width: 500px !important;
    height: 600px !important;
}

.slider-images {
    width: 170px !important;
    height: 140px !important;
    object-fit: cover;
}

.ico {
    width: 40px !important;
    height: 40px !important;
    width: fit-content;
    border-color: gray;
}

button {
    padding-left: 40px;
    padding-right: 40px;
}

i {
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 32px !important;
    // height: 32px !important;
    font-size: 27px;
}