/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */
@import "../src/assets/color/colors.scss";
// @import "remixicon/fonts/remixicon.css";
@import "../node_modules/remixicon/fonts/remixicon.css";
// toaster
@import 'ngx-toastr/toastr-bs5-alert';

@import 'swiper/swiper-bundle.css';


img {
    max-width: 100%;
}

body {
    font-family: "Inter", sans-serif;
}
.poppinsFont
{
    font-family: "Poppins", sans-serif;

}
.swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
} 
li {
    list-style: none;
}

.btn-color {
    background-color: $mainColor !important;
}

.mainColor {
    background-color: $mainColor !important;

}

.ratingColor {
    color: #FFAD33;
}

.mainText {
    color: $mainText !important;
}

.no-border {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

.form-control {
    &::placeholder {
        color: gray !important;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }
}

a {
    text-decoration: none;
    color: black;
}

.toMarginTopBottom {
    margin-top: 119px ;
    margin-bottom: 119px ;
}
