<div class="row">
    <div class="col-md-9 me-0">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img class="sliderImg" height="400" src="../../assets/slider-image-1.jpeg" alt="image-1">
            </ng-template>
            <ng-template carouselSlide>
                <img class="sliderImg" height="400" src="../../assets/slider-image-2.jpeg" alt="image-2">
            </ng-template>
            <ng-template carouselSlide>
                <img class="sliderImg" height="400" src="../../assets/slider-image-3.jpeg" alt="image-3">
            </ng-template>
        </owl-carousel-o>

    </div>

    <div class="col-md-3 ms-0">
        <img height="200" src="../../assets/grocery-banner.png" alt="banner1">
        <img height="200" src="../../assets/grocery-banner-2.jpeg" alt="banner2">
    </div>
</div>