<div class="row">
    <div class="col-md-9 me-0">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img height="400" src="../../assets/slider-image-1.jpeg" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img height="400" src="../../assets/slider-image-2.jpeg" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img height="400" src="../../assets/slider-image-3.jpeg" alt="">
            </ng-template>
        </owl-carousel-o>

    </div>

    <div class="col-md-3 ms-0">
        <img height="200" src="../../assets/grocery-banner.png" alt="">
        <img height="200" src="../../assets/grocery-banner-2.jpeg" alt="">
    </div>
</div>